body {
  letter-spacing: 0.03em;
  background-color: $color-background-white;
  color: $color-text-primary;
  font-family: $font-family-primary;
}

/*container*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*заголовки*/
.caption {
  margin: 0;
}

/* стиль кнопки button вызова модального окна и отправки */

.button {
  margin-left: auto;
  margin-right: auto;
  /*стили синей кнопки*/
  @extend %button;
}

/*текст/абзац*/
.text {
  margin: 0;

  color: $color-text-second;

  font-weight: 400;
}

/*кнопки*/
.btn {
  border: none;
}

/*сылки*/
.link,
.logo {
  font-family: $font-family-primary;
  text-decoration: none;
}

/*логотип*/
.logo {
  color: $color-text-accent;

  font-family: $font-family-second;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Отметка о текущей странице */
.link.current {
  position: relative;

  color: $color-text-accent;
}

.link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;

  background-color: $color-text-accent;
  border-radius: 2px;
}

/*списки*/
.without-dot {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}

/*сылки - социальные сети*/

.social-links {
  @extend %social-network;
}

/* базовые стили input */
.input {
  display: inline-block;

  border-radius: 4px;
  outline: none;
}
