/*подвал сайта*/
.footer {
  background-color: $color-background-gray;
}

.container-address {
  &__half-logo {
    color: $color-text-inverse;
  }

  &__text {
    color: $color-text-inverse;

    width: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  &__link {
    color: $color-text-transparent;
    display: block;
  }
}

/*ссылки на социальные сети*/
.social-links {
  &__link {
    background-color: $color-bg-transparent-social;
  }

  &__icon-social--white-letter {
    fill: $color-fill-light;
  }
}

/*контейнер подписки*/
.footer-form {
  &__input {
    width: 358px;
    height: 50px;

    padding: 15px 16px;

    background-color: $color-background-gray;
    border: 1px solid $color-border-input-footer;

    color: $color-text-transparent;
  }

  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-plane {
    margin-left: 10px;
  }
}

/*общие параметры контейнера социальные сети и подписки*/
.container-social,
.container-subscribe {
  margin-top: 12px;

  &__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $color-text-inverse;
  }
}
