/*подвал сайта*/
.footer {
  background-color: $color-background-gray;

  & .container {
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
  }

  & .logo {
    display: block;
    margin-bottom: 20px;
  }

  & .second-half.down {
    color: $color-text-inverse;
  }

  & .text {
    color: $color-text-inverse;

    width: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

/*контейнер с адресом*/
.container-address {
  margin-right: 70px;

  & .link {
    color: $color-text-transparent;
    display: block;
  }
}

/*контейнер социальные сети*/
.container-social {
  margin-right: 93px;

  & .link {
    background-color: $color-bg-transparent-social;
  }

  & .icon-social {
    fill: $color-fill-light;
  }
}

/*контейнер подписки*/

.container-subscribe {
  .footer-form {
    display: flex;
  }

  .subscribe-field__input {
    width: 358px;
    height: 50px;

    padding: 15px 16px;
    margin-right: 12px;

    background-color: $color-background-gray;
    border: 1px solid $color-border-input-footer;

    color: $color-text-transparent;
  }

  .footer-form:focus-within .input {
    border-color: $color-border-accent;
  }

  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-plane {
    margin-left: 10px;
  }
}

/*общие параметры контейнера социальные сети и подписки*/
.container-social,
.container-subscribe {
  margin-top: 12px;

  & .text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $color-text-inverse;
  }
}
