/*шапка сайта*/

.header {
  background-color: $color-background-white;

  & .container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  & .link {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
  }

  & .address {
    margin-left: auto;
  }
}

.site-nav {
  & .link {
    color: $color-text-primary;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.navigation {
  display: flex;
  align-items: center;

  & .logo {
    margin-right: 93px;
  }

  & .second-half.up {
    color: $color-text-primary;
  }
}

.site-nav,
.address-nav {
  display: flex;

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    transition: color $transition-duration-timing;
  }
  & .link:hover,
  & .link:focus {
    color: $color-text-accent;
  }
}

.address-nav {
  & .tel,
  & .mail {
    display: flex;
    align-items: center;
  }

  & .icon-mail,
  & .icon-smartphone {
    margin-right: 10px;
  }

  & .icon-mail,
  & .icon-smartphone {
    fill: currentColor;
  }

  & .link {
    color: $color-text-second;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

// .header .container {
//   display: flex;
//   align-items: center;
//   height: 80px;
// }

// .header .link {
//   display: block;

//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .header .logo {
//   margin-right: 93px;
// }

// .site-nav .item:not(:last-child),
// .address-nav .item:not(:last-child) {
//   margin-right: 50px;
// }

// .header .address {
//   margin-left: auto;
// }

// .header .second-half.up {
//   color: $color-text-primary;
// }

// .site-nav .item:not(:last-child),
// .address-nav .item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav .link {
//   color: $color-text-primary;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .address-nav .link {
//   color: $color-text-second;

//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .site-nav .link,
// .address-nav .link {
//   transition: color $transition-duration-timing;
// }

// .site-nav .link:hover,
// .site-nav .link:focus,
// .address-nav .link:hover,
// .address-nav .link:focus {
//   color: $color-text-accent;
// }

// .header {
//   background-color: $color-background-white;
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .site-nav,
// .address-nav {
//   display: flex;
// }

// .icon-mail,
// .icon-smartphone {
//   margin-right: 10px;
// }

// .icon-mail,
// .icon-smartphone {
//   fill: currentColor;
// }

// .address-nav .tel,
// .address-nav .mail {
//   display: flex;
//   align-items: center;
// }
