/*input*/
.input {
  display: inline-block;
  width: 448px;
  height: 40px;

  padding: 11px 42px;

  border: 1px solid $color-border-input;
  transition: border-color $transition-duration-timing;

  border-radius: 4px;
  outline: none;

  //   &:focus-within  .input {
  //     border-color: $color-border-accent;
  //   }

  &:focus {
    border-color: $color-border-accent;
  }
}
.input-box {
  position: relative;

  display: block;
  height: 40px;
  &__icon {
    position: absolute;
    top: 11px;
    left: 12px;

    transition: fill $transition-duration-timing;
  }

  &:focus-within &__icon {
    fill: $color-fill-accent;
  }
}
