/*section-skil*/
.section-skils {
  & .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .caption {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  & .text {
    font-size: 14px;
    line-height: 1.71;
  }

  & .list {
    display: flex;
    justify-content: space-between;
  }

  & .item {
    width: 270px;
  }

  & .icon-skill {
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;

    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: $color-bakcground-darkwhite;
  }
}
